<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/bootstrap.css" rel="stylesheet">
    <title>Sign/Verify</title>
    <script src="/digitalSignature.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>

<body class="bg-dark text-secondary">
    <main class="px-4 py-5 text-center">
        <div class="py-5">
            <h1 class="display-5 fw-bold text-white">Sign/Verify .txt files</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">Generate a key pair, upload .txt files and sign it with your private key,
                    or verify .txt files with a public key.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button id="keyGen" type="button" class="btn btn-outline-light btn-lg px-4 me-sm-3 fw-bold">
                        Generate key pair</button>
                    <button type="button" class="btn btn-info btn-lg px-4 me-sm-3 fw-bold" data-bs-toggle="modal"
                        data-bs-target="#signModal">Sign .txt file</button>
                    <button type="button" class="btn btn-outline-info btn-lg px-4 fw-bold" data-bs-toggle="modal"
                        data-bs-target="#verifyModal">Verify .txt file</button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="signModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="signModalL" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="signModalL">Sign .txt file</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="sign" action="/digitalSignature/sign" enctype="multipart/form-data" method="post"
                            autocomplete="off">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="privateKey">Private Key</label>
                                <input type="file" class="form-control" id="privateKey" name="privateKey" required>
                            </div>
                            <div class="input-group mb-3">
                                <button class="btn btn-info" type="submit" id="signL">Sign text file</button>
                                <input type="file" class="form-control" id="signFile" name="signFile"
                                    aria-describedby="signL" aria-label="Upload" required>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="verifyModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="verifyModalL" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="verifyModalL">Verify .txt file</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="verify" action="/digitalSignature/verify" enctype="multipart/form-data" method="post"
                            autocomplete="off">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="publicKey">Public Key</label>
                                <input type="file" class="form-control" id="publicKey" name="publicKey" required>
                            </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="signature">Signature</label>
                                <input type="file" class="form-control" id="signature" name="signature" required>
                            </div>
                            <div class="input-group mb-3">
                                <button class="btn btn-info" type="submit" id="verifyL">Verify</button>
                                <input type="file" class="form-control" id="verifyFile" name="verifyFile"
                                    aria-describedby="verifyL" aria-label="Upload" required>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html